/*creating variables with root global scope*/
:root {
  --primary: #6547b6;
  --secondary: #d3df2c;
  --light: #f4f4f4;
  --light-alt: #cccccc;
  --dark: #333333;
  --dark-alt: #37144e;
  --tertiary: #9bc6ff;
}

/**
 * Global styles
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

.App {
  padding: 32px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 32px;
}
h4 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 16px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
}

.saleinventoryitem {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.saleinventoryitem:hover {
  opacity: 0.8;
}

.saleinventoryitem .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 999px;
  background-color: var(--dark-alt);
  transition: 0.4s;
}

.saleinventoryitem.is-sold .checkbox {
  background-color: var(--secondary);
  background-image: linear-gradient(
    to bottom,
    var(--secondary),
    var(--primary)
  );
}

.saleinventoryitem .text {
  font-size: 20px;
}

.saleinventoryitem.is-sold .text {
  text-decoration: line-through;
}

.saleinventoryitem .deleteitem {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: var(--light);
  background-color: rgb(185, 0, 0);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.additem {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  height: 8rem;
  width: 8rem;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  color: var(--light);
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--tertiary), var(--primary));
  cursor: pointer;
}
